@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.container {
  width: 600px;
  background: linear-gradient(218.82deg, rgba(23, 144, 68, 0.2) -3.31%, rgba(255, 255, 255, 0.2) 89.97%), #FFFFFF;
  box-shadow: 0px 10px 40px rgba(34, 34, 34, 0.1);
  border-radius: 20px;
}

.blackText {
  color: $color-black;
}

.whiteCircle {
  margin: 30px auto;
  background: $color-white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  @include flexbox;
  flex-direction: column;
}

.instructions {
  margin-top : 20px;
}

.againBtn {
  @include flexbox;
  width: 250px;
  height: 60px;
  margin: 30px auto 0;
  text-transform: uppercase;
}

.scannerBtn {
  margin: 0 auto;
}

.pending {
  @include rotateAnimation;
}