import React from 'react';

import styles from './styles.module.scss';

// type {{ properCase name }}Props = {};

const {{ properCase name }} = () => (
	<div className={ styles.{{ camelCase name }} }>
			Hello World!
	</div>
);

export default {{ properCase name }};
